img{
  height:80px;
  width:70px;
}

#lane1{
  background-color: black;
  height:200px;
  margin-top: 50px;
    margin-bottom: 30px;
}
#player1{
  margin-left:20px;
  margin-top: 70px;

}

#lane2{
  background-color: black;
  height:200px;
  margin-top: 30px;
}
#player2{
  margin-left:20px;
  margin-top: 70px;
}
button {
  margin:50px;
}
#board{
  background-color: gray;
}
h1{
  margin-left: 50px;
}
small{
  margin-left: 50px;
}
#finish{
  margin-top:50px;
  height:50px;
}
